body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 150px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 50px;
}

h1 > span {
  color: rgba(214, 34, 25, 0.7);
}

button {
  margin-left: 150px;
  width: 150px;
  height: 50px;
  background-color: rgba(15, 155, 155, 0.756);
  color: rgb(73, 47, 23);
  border: 0.5px solid rgba(99, 99, 241, 0.797);
  border-radius: 25px;
  cursor: pointer;
  box-shadow: -1px -1px 42px 6px rgba(0, 0, 0, 0.344);
  &:hover {
    background-color: bisque;
    color: black;
  }
  &:checked {
    background-color: rgb(73, 19, 211);
  }
}
