
body {
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-image: url(https://img.vivense.com/480x320/images/0ab0ba23d46c42a69a2e838ad81dd57c.jpg);
    background-repeat:no-repeat;
    background-size:150%; /* =>Background image böylece tam olarak ekran sığar */
    background-position: center;
}

#openModal{

    margin: 50px 50% 40px 50%;
    width: 8rem;
    height: 2rem;
    border-radius: 10px;
    background-color: teal;
    color: antiquewhite;
    border: 0;
    cursor: pointer;

    &:hover {
        background-color: darkseagreen;
        color:chocolate ;
    }
}


.modal {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  display: none;
  color: rgb(222, 117, 12);
  justify-content: center;
  align-items: center;
}
.modal_overlay {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal_content {
    background-color: white;
    padding: 4rem;
    position: relative;
    cursor:pointer;

}

.modal.open {
    display:block;
}