@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.navbar-brand {
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}

nav {
  background-color: rgb(30, 86, 145);
}

.subNav {
  background-color: rgb(5, 32, 60);
  color: white;
}
.row {
  margin: 2px;
}

#planeImg {
  margin-left: 10%;
  border: 2px solid;
  border-color:rgb(202, 117, 14);
  border-radius: 5%;
}

